---
import { statistics } from '../../constants';

interface BenefitList {
  title: string;
  benefits: string[];
}

const communityBenefits: BenefitList = {
  title: "For communities:",
  benefits: [
    "Offers more equitable access to information",
    "Promotes group listening and engagement, social discussion, and message retention",
    "Allows listeners to learn at their own pace",
    "Builds trust and community agency",
    "Devices can be rotated among households or shared and played in group settings",
    "There's no cost to the end user"
  ]
};

const implementerBenefits: BenefitList = {
  title: "For implementers:",
  benefits: [
    "Amplifies message reach in rural remote areas",
    "Ensures delivery of consistent and accurate messages",
    "Supports training and capacity building",
    "Elevates community voices through user feedback",
    "Collects usage data for monitoring and evaluation",
    "Delivers content in a community's local language",
    "Devices can be reprogrammed and deployed again"
  ]
};

const testimonial = {
  quote: "The best technologies meet women where they are, and the Amplio Talking Book is at the top of my list. It addresses all the constraints that women face, be it literacy, cost, safety, security, or relevance.",
  logoSrc: "/assets/why-amplio/usaid.jpg" 
};
---

<section>
    <section class="bg-white mt-20 pt-10 pb-4">
        <div class="text-center mb-16">
          <h2 class="text-4xl font-bold mb-4">Why Talking Books?</h2>
          <p class="max-w-2xl mx-auto text-lg mb-9">
            For people in developing countries, access to knowledge can transform lives.
          </p>
        </div>
      
        <div class="mt-12 relative w-screen left-1/2 right-1/2 ml-[-50vw] mr-[-50vw]">
          <div class="w-full h-[470px] md:h-[560px] relative">
            <img 
              src="/assets/why-amplio/why-amplio.jpg" 
              alt="Girl listening to the Amplio Device with Family" 
              class="w-full h-full object-cover"
            />
          </div>
        </div>
      </section>

      <section class="max-w-6xl mx-auto px-4 py-4">
        <div class="text-center mb-12">
          <h2 class="text-2xl font-bold mb-6 max-w-3xl mx-auto">
            Development agencies face barriers to sharing knowledge with the most vulnerable and underserved communities.
          </h2>
          <p class="text-gray-700 text-lg mb-4 max-w-3xl mx-auto">
            They also lack an adequate understanding of each community's specific needs. There are too many villages, too far apart — and too many barriers. Challenges include poor road conditions, illiteracy, gender inequities, unreliable electricity and internet, and expensive mobile data.
          </p>
          <p class="text-gray-700 text-lg max-w-3xl mx-auto">
            But access to knowledge can impact food security, health, income, and more.
          </p>
        </div>
      
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-8 px-40">
          {statistics.map((stat) => (
            <div class="flex flex-col items-center text-center">
              <div class="mb-4">
                <img 
                  src={stat.imageSrc} 
                  alt="" 
                  class="w-16 h-16 object-contain "
                />
              </div>
              
              <div class="text-2xl font-bold mb-2">{stat.value}</div>
              
              <p class="text-gray-600 text-sm">{stat.description}</p>
            </div>
          ))}
        </div>
      </section>

      <section>
        <div class="mt-12 relative w-screen left-1/2 right-1/2 ml-[-50vw] mr-[-50vw]">
            <div class="w-full h-[470px] md:h-[560px] relative">
              <img 
                src="/assets/why-amplio/woman-with-amplio.jpg" 
                alt="Girl listening to the Amplio Device with Family" 
                class="w-full h-full object-cover"
              />
            </div>
          </div>
      </section>

      <section class="bg-blue-50 py-16">
        <div class="container mx-auto px-4 text-center">
          <h2 class="text-3xl font-bold mb-4">An inclusive digital solution</h2>
          <p class="text-gray-600 max-w-2xl text-lg mx-auto mb-8">
            Amplio's Talking Book program is recognized by UNESCO as an inclusive digital solution that low-literate adults and youth can use to gain new skills and knowledge to improve their lives. Our technology overcomes barriers in hard-to-reach communities — so knowledge sharing goes both ways.
          </p>
          
          <div class="max-w-3xl mx-auto">
            <div class="aspect-video bg-gray-200 rounded-lg overflow-hidden">
              <iframe 
                src="https://www.youtube.com/embed/q7GN3q7katA?si=8-3t0KvD68ZypauC" 
                title="Project Video" 
                class="w-full h-full"
                frameborder="0" 
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
                allowfullscreen
              ></iframe>
            </div>
          </div>
        </div>
      </section>
      <section class="max-w-7xl mx-auto px-52 py-16">
        <h2 class="text-4xl font-bold text-center mb-16">Why Amplio Talking Books?</h2>
      
        <div class="flex flex-col md:flex-row gap-8 mb-16">
          <div class="md:w-1/2">
            <h3 class="text-2xl text-[#4052AB] font-medium mb-6">{communityBenefits.title}</h3>
            <ul class="space-y-4">
              {communityBenefits.benefits.map(benefit => (
                <li class="flex gap-2">
                  <span class="text-black">•</span>
                  <span>{benefit}</span>
                </li>
              ))}
            </ul>
          </div>
          <div class="md:w-1/2">
            <img 
              src="/assets/why-amplio/women-clapping.jpg" 
              alt="People engaging with Talking Books" 
              class="w-full h-full object-cover"
            />
          </div>
        </div>
      
        <div class="flex flex-col md:flex-row gap-8 mb-10">
          <div class="md:w-1/2">
            <img 
              src="/assets/why-amplio/woman-amplio.jpg" 
              alt="Implementer demonstrating Talking Book usage" 
              class="w-full h-full object-cover"
            />
          </div>
          <div class="md:w-1/2">
            <h3 class="text-2xl text-[#4052AB] font-medium mb-6">{implementerBenefits.title}</h3>
            <ul class="space-y-4">
              {implementerBenefits.benefits.map(benefit => (
                <li class="flex gap-2">
                  <span class="text-black">•</span>
                  <span>{benefit}</span>
                </li>
              ))}
            </ul>
          </div>
        </div>
      
        <div class="border-t pt-12 ">
          <div class="max-w-4xl space-y-10 mx-auto text-center">
            <img 
            src={testimonial.logoSrc} 
            alt="USAID logo" 
            class="h-20 mx-auto"
          />
            <blockquote class="text-xl text-gray-700 italic max-w-3xl mx-auto mb-8">
              "{testimonial.quote}"
            </blockquote>

            <p class = "text-sm text-gray-500 text-center space-y-5">Revi Sterling, Director, USAID WomenConnect Challenge</p>
           
          </div>
        </div>
      </section>
      <section class="relative w-full h-[600px]">
        <div class="absolute inset-0">
          <img 
            src="/assets/why-amplio/girl-amplio.jpg" 
            alt="Person holding a Talking Book device" 
            class="w-full h-full object-cover"
          />
          <div class="absolute inset-0 bg-black/40"></div>
        </div>
        <div class="relative h-full max-w-7xl mx-auto px-4 flex flex-col justify-center items-start">
          <div class="max-w-xl">
            <h1 class="text-5xl font-bold text-white mb-4">
              Knowledge Is Power
            </h1>
            <p class="text-xl text-white mb-8">
              Help share knowledge and transform lives for vulnerable communities.
            </p>
            <a 
              href="/donate" 
              class="inline-block bg-[#00BCD4] hover:bg-[#00ACC1] text-white font-medium px-8 py-3 rounded-md transition-colors"
            >
              Donate Now
            </a>
          </div>
        </div>
      </section>
    </section>
